/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

&mt {
    //  flavor = "tap-preferred";
    // tapping_term_ms = <200>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
            bindings =
                <&kp>,
                <&kp>;
        };
        td_lt: tap_dance_layer_tap {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_LAYER_TAP";
            #binding-cells = <0>;
            tapping-term-ms = <100>;
            bindings =
                <&lt 1 SEMICOLON>,
                <&to 1>;
        };
    };

    combos {
        compatible = "zmk,combos";

        big_thumb_left {
            bindings = <&mo 3>;
            key-positions = <30 24>;
        };

        big_thumb_right {
            bindings = <&mo 3>;
            key-positions = <33 25>;
        };

        both_thumbs {
            bindings = <&caps_word>;
            key-positions = <30 33>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
 &kp SINGLE_QUOTE   &kp COMMA     &kp DOT        &kp P                           &kp Y    &kp F        &kp G       &kp C       &kp R        &kp L
      &hm LCTRL A  &hm LALT O  &hm LGUI E  &hm LSHFT U                           &kp I    &kp D  &hm RSHFT H  &hm RGUI T  &hm RALT N  &hm RCTRL S
           &td_lt       &kp Q       &kp J        &kp K                           &kp X    &kp B        &kp M       &kp W       &kp V      &lt 1 Z
                                                 &mo 2  &hm LA(LC(LS(LEFT_GUI))) SPACE  &kp RET        &mo 2
            >;
        };

        Symbols {
            bindings = <
 &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3    &kp NUMBER_4   &kp NUMBER_5  &kp NUMBER_6     &kp NUMBER_7      &kp NUMBER_8       &kp NUMBER_9  &kp NUMBER_0
       &trans        &trans        &trans  &kp LEFT_SHIFT  &kp BACKSLASH     &kp SLASH  &kp RIGHT_SHIFT  &kp LEFT_BRACKET  &kp RIGHT_BRACKET     &kp MINUS
       &trans        &trans        &trans          &trans         &trans     &kp GRAVE           &trans            &trans             &trans     &kp EQUAL
                                                    &to 1         &trans        &trans            &to 1
            >;
        };

        Navigation {
            bindings = <
    &kp ESCAPE   &trans  &trans  &trans  &trans  &trans              &trans    &trans               &trans  &kp LA(BACKSPACE)
 &kp BACKSPACE  &kp DEL  &trans  &trans  &trans  &trans  &kp LA(LEFT_ARROW)    &kp UP  &kp LA(RIGHT_ARROW)        &kp PAGE_UP
       &kp TAB   &trans  &trans  &trans  &trans  &trans            &kp LEFT  &kp DOWN            &kp RIGHT      &kp PAGE_DOWN
                                 &trans  &trans  &trans              &trans
            >;
        };

        Mission {
            bindings = <
 &kp LC(NUMBER_1)  &kp LC(NUMBER_2)  &kp LC(NUMBER_3)  &kp LC(NUMBER_4)  &trans  &trans  &trans  &trans  &trans        &trans
           &trans            &trans            &trans            &trans  &trans  &trans  &trans  &trans  &trans        &trans
           &trans            &trans            &trans            &trans  &trans  &trans  &trans  &trans  &trans  &out OUT_TOG
                                                                 &trans  &trans  &trans  &trans
            >;
        };
    };
};
