# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_TPS42_LEFT

config ZMK_KEYBOARD_NAME
	default "TPS42"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_TPS42_LEFT || SHIELD_TPS42_RIGHT

config ZMK_SPLIT
	default y

endif